/*
Copyright Glen Knowles 2018.
Distributed under the Boost Software License, Version 1.0.

dimRoutes.m.css - tismet
*/

.root {
}
.head {
    text-align: left;
}
.head th {
    padding: 0px 10px;
}

:nth-child(even).row {
    background-color: #224;
}
.row:hover {
    background-color: blue;
}
.row {
    text-align: right;
}
.row td {
    padding: 0px 10px;
}
.text {
    text-align: left;
}
.text {
    text-align: left;
}
.number {
    text-align: right;
}
