/*
Copyright Glen Knowles 2018.
Distributed under the Boost Software License, Version 1.0.

tabs.m.css - tismet
*/

.root {
}
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    margin: 0 auto;
    width: 100%;
}
.links {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    --top: 0;
    left: 0;
    background-color: #444;
    overflow-x: hidden;
}
.link {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
.linkActive {
    color: #000;
    background-color: #666;
}
.link:hover {
    color: #f1f1f1;
}
.main {
    margin-left: 160px;
    padding: 15px;
}
