/*
Copyright Glen Knowles 2018.
Distributed under the Boost Software License, Version 1.0.

tsInfo.m.css - tismet
*/

.root {
}

.head {
    text-align: center;
}

.name {
    text-align: left;
}

.value {
    text-align: left;
    padding: 0px 10px;
}

.warn { color: yellow; }
.error { color: red; }
